*{
    margin:0%;
    padding:0%;
}
body{
    background: #C0C0C0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}

.container{
    weight: 700px;
    padding: 100px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
}
.container h1{
    font-size: 100px;
}

p{
    font-size: 100px;
}
button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius: 30px;
    margin-right: 10px;
}
button:hover{
    cursor: pointer;
}